<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#333333">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel=icon href="">
  </head>
  <body>
    <a href="/html/001.html">001</a>
    <p>===request===</p>
    <% for(var i=0;i<analyserRequest.length;i++){ %>
      <p><%= analyserRequest[i] %></p>
    <% } %>
    <br>
    <p>===response===</p>
    <% for(var i=0;i<analyserResponse.length;i++){ %>
      <p><%= analyserResponse[i] %></p>
    <% } %>
  </body>
</html>
