<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>T-login</title>
  </head>
  <body>
    <form id="stgrLogin" name="stgrLogin" method="post" action="#">
      <table>
        <tr>
          <td><input id="id" name="id" type="text" placeholder="ID" value="" /></td>
        </tr>
        <tr>
          <td><input id="pw" name="pw" type="text" placeholder="Password" value="" /></td>
        </tr>
        <tr>
          <td><input id="submit" name="submit" type="submit" value="OK" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
