@import 'https://fonts.googleapis.com/css?family=VT323';

@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(http://fonts.gstatic.com/s/quantico/v5/8Gf_cHXH2gzsd9z-xuVg5vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'KOverwatch';
  font-style: normal;
  src: local('koverwatch'), url(../fonts/koverwatch.ttf) format("truetype");
}

body {
  background: #333;
  color: #ddd;
  padding: 16px;
  padding-top: 100px;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
}

@media (min-width:768px){
  body {/* Don't use Web-fonts on mobile */
    font: 14px 'Quantico',"VT323", "KOverwatch", "Lucida Grande";
    font-style: italic;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

.a-origin {
  color: #00B7FF;
  text-decoration: underline;
}

#header {
  position: fixed;
  z-index: 9; /* Always on Top */
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: left;
  padding: 0;
}

.title {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 48px;
  margin: 0;
  margin-top: -24px;
  margin-left: -150px;
  /* transform: translateX(-50%); */
  font-size: 48px;
  line-height: 48px;
  overflow: hidden;
  text-align: center;
}

.menu-box {
  padding: 0;
  width: auto;
  height: auto;
}

.menu-button {
  padding: 16px;
  margin: 16px;
  width: 250px;
  height: 250px;
  background-color: #444;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
}

.menu-button-title {
  position: relative;
  bottom: 0;
  width: inherit;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.title-s {
  font-size: 32px;
}

.fac-menu-button {
  position: relative;
  top: 0;
  width: inherit;
  text-align: center;
  font-size: 200px !important;
}

.bc-red {
  background-color: #F44336;
  color: #fff;
}

.bc-pink {
  background-color: #E91E63;
  color: #fff;
}

.bc-purple {
  background-color: #9C27B0;
  color: #fff;
}

.bc-deep-purple {
  background-color: #673AB7;
  color: #fff;
}

.bc-indigo {
  background-color: #3F51B5;
  color: #fff;
}

.bc-blue {
  background-color: #2196F3;
  color: #fff;
}

.bc-light-blue {
  background-color: #03A9F4;
  color: #000;
}

.bc-cyan {
  background-color: #00BCD4;
  color: #000;
}

.bc-teal {
  background-color: #009688;
  color: #fff;
}

.bc-green {
  background-color: #4CAF50;
  color: #000;
}

.bc-light-green {
  background-color: #8BC34A;
  color: #000;
}

.bc-yellow {
  background-color: #FFEB3B;
  color: #000;
}

.bc-amber {
  background-color: #FFC107;
  color: #000;
}

.bc-orange {
  background-color: #FF9800;
  color: #000;
}

.bc-deep-orange {
  background-color: #FF5722;
  color: #fff;
}

.bc-brown {
  background-color: #795548;
  color: #fff;
}

.bc-gray {
  background-color: #9E9E9E;
  color: #000;
}

.bc-blue-gray {
  background-color: #607D8B;
  color: #fff;
}

.bc-black {
  background-color: #000;
  color: #fff;
}

.bc-white {
  background-color: #fff;
  color: #000;
}
